html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.flex {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 50px 0;
}

.clock {
    display: flex;
}
Sanya s dirkoy v zhope
.but-s {
    width: 200px;
    height: 200px;
    border: 0px;
    background-color: crimson;
    color: #fff;
    padding: 40px;
    border-radius: 50%;
    font-size: 30px;
}